autom4te.cache
m4
config.sub
Makefile.in
ltmain.sh
aclocal.m4
install-sh
compile
configure
missing
config.guess
depcomp
build
config.log
RemoteSystemsTempFiles
.metadata/
.settings/
.autotools
.cproject
/debug_build/
/release_build/
**/build*
**/.DS_Store
.vscode
.devcontainer
cistem_config.in*
scripts/testing/post_format_test.cpp